.footer{
  background-color: var(--main-color);
  color: var(--white);
  padding: 30px 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.logo-footer{
  width: 250px;
}
.footer ul li a{
  color: var(--white);
  text-decoration: none;
}
.footer ul li{
  list-style: none;
  text-decoration: none !important;
}
