.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    color: var(--white);
    background-color: var(--main-color);
}
.logo img{
    height: 80px;
    width: 200px;
    display: block;


}
.nav_links{
    list-style: none;
    display: flex;
}

.nav_links li{
    margin-left: 10px;
}
.nav_links li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.nav_links li a:hover{
    color: var(--red)
}
